.profile__main-container {
  font-family: 'Rubik', sans-serif;
  padding: 30px;
}

.profile__my-schedules {
  display: flex;
  flex-wrap: wrap;
}

.profile-headers {
  display: flex;
  align-items: center;
}

.pofile-headers__icon {
  margin-right: 10px;
}