.schedule-page__main-container {
  font-family: 'Rubik', sans-serif;
  padding: 15px;
}

.schedule-page__lessons-container {
  display: flex;
  flex-wrap: wrap;
}

.schedule-page__main-container h5 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.schedule-page__header-container {
  display: flex;
}

.schedule-page__header-container-left {
  flex: 1;
}

.schedule-page__button-edit {
  margin-left: 15px;
}