.schedule-component__container {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}

.lessons-container {
  background-color: lightgray;
  padding: 3px;
}

.day-container {
  flex: 1;

  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 1px;
}

.day-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 15px;
  background-color: #212529;
  color: white;
}

.gray-color {
  color: gray;
}

.text-align-center {
  text-align: center;
}